<div class="card">
  <div class="card-header">
    <h4>{{ "Create Customer" | translate }}</h4>
  <button class="btn btn-secondary btn-padding-1 pull-right"
      [routerLink]="['/owner/restaurants/customer', restaurantId]">
      {{ "Back to List" | translate }}
    </button>
  </div>
  <div class="card-body">
    <div class="login-page">
      <div class="row justify-content-md-center">
        <div class="col-md-12">
          <form role="form" (keydown.enter)="$event.preventDefault()" [formGroup]="customerForm"
            (ngSubmit)="onSubmit()">
            <div class="row form-content">
              <!-- First Name -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "First Name" | translate }}</label>
                  <input type="text" class="form-control" formControlName="firstname"
                    placeholder="{{ 'First Name' | translate }}">
                </div>
              </div>

              <!-- Last Name -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "Last Name" | translate }}</label>
                  <input type="text" class="form-control" formControlName="lastname"
                    placeholder="{{ 'Last Name' | translate }}">
                </div>
              </div>

              <!-- Phone -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "Phone" | translate }}</label>
                  <input type="text" class="form-control" formControlName="phone"
                    placeholder="{{ 'Phone' | translate }}">
                </div>
              </div>

              <!-- Email -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "Email" | translate }}</label>
                  <input type="email" class="form-control" formControlName="email"
                    placeholder="{{ 'Email' | translate }}">
                </div>
              </div>
            </div>

            <div class="row form-content">
              <!-- Address -->
              <!-- Address Autocomplete -->
              <div class="col-sm-4">
                <div class="form-group">
                  <label>{{ "Address" | translate }}</label>
                  <input type="text" class="form-control" formControlName="address" #addressSearch
                    placeholder="{{ 'Address' | translate }}">
                </div>
              </div>

              <!-- Physical Address Autocomplete -->
              <div class="col-sm-4">
                <div class="form-group">
                  <label>{{ "Physical Address" | translate }}</label>
                  <textarea class="form-control" formControlName="physical_address" #physicalSearch
                    placeholder="{{ 'Physical Address' | translate }}"></textarea>
                </div>
              </div>


              <!-- House No -->
              <div class="col-sm-4">
                <div class="form-group">
                  <label>{{ "House Number" | translate }}</label>
                  <input type="text" class="form-control" formControlName="houseno"
                    placeholder="{{ 'House Number' | translate }}">
                </div>
              </div>
            </div>

            <div class="row form-content">
              <!-- City -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "City" | translate }}</label>
                  <input type="text" class="form-control" formControlName="city" placeholder="{{ 'City' | translate }}">
                </div>
              </div>

              <!-- Pincode -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "Postal Code" | translate }}</label>
                  <input type="text" class="form-control" formControlName="pincode"
                    placeholder="{{ 'Postal Code' | translate }}">
                </div>
              </div>

              <!-- Country -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "Country" | translate }}</label>
                  <input type="text" class="form-control" formControlName="country"
                    placeholder="{{ 'Country' | translate }}">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "Date of Birth" | translate }}</label>
                  <input type="date" class="form-control" formControlName="dob">
                </div>
              </div>
              <!-- State -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "State" | translate }}</label>
                  <input type="text" class="form-control" formControlName="state"
                    placeholder="{{ 'State' | translate }}">
                </div>
              </div>
            </div>

            <div class="row form-content">
              <!-- Beginning Points -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "Beginning Points" | translate }}</label>
                  <input type="number" class="form-control" formControlName="beginning_points" min="0">
                </div>
              </div>

              <!-- Point Balance -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "Point Balance" | translate }}</label>
                  <input type="number" class="form-control" formControlName="point_balance" min="0">
                </div>
              </div>

              <!-- Price Level -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "Price Level" | translate }}</label>
                  <input type="number" class="form-control" formControlName="price_level" min="1">
                </div>
              </div>

              <!-- Discount % -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "Discount %" | translate }}</label>
                  <input type="number" class="form-control" formControlName="discount_percent" min="0" max="100"
                    step="0.01">
                </div>
              </div>
            </div>

            <div class="row form-content">
              <!-- Password -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "Password" | translate }}</label>
                  <input type="password" class="form-control" formControlName="password"
                    placeholder="{{ 'Password' | translate }}">
                </div>
              </div>

              <!-- Confirm Password -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "Confirm Password" | translate }}</label>
                  <input type="password" class="form-control" formControlName="confirmPassword"
                    placeholder="{{ 'Confirm Password' | translate }}">
                </div>
              </div>

              <!-- Preferred Language -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "Preferred Language" | translate }}</label>
                  <select class="form-control" formControlName="pref_lang">
                    <option value="en">English</option>
                    <option value="es">Español</option>
                  </select>
                </div>
              </div>

              <!-- Status -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{ "Status" | translate }}</label>
                  <select class="form-control" formControlName="status">
                    <option value="1">{{ "Active" | translate }}</option>
                    <option value="0">{{ "Inactive" | translate }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row form-content">
              <div class="col-sm-12">
                <button class="btn btn-success" type="submit" [disabled]="!customerForm.valid">
                  {{ "Create Customer" | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
