.anet-form label {
  margin-bottom: 0px;
}
.form-group {
  margin-bottom: 0px;
}

.custom-select:focus,
.form-control:focus {
  box-shadow: none;
}
.has-success .input-group-text {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
}

.has-warning .input-group-addon {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #8a6d3b;
}

.has-error .input-group-text {
  color: #a94442;
  background-color: #fff2f275;
  border-color: #ff000075;
}

.has-error .form-control {
  border: 1px solid #ff474775 !important;
}
.has-success .form-control {
  border: 1px solid #3c763d !important;
}

span.scheme {
  position: absolute;
  right: 5px;
  z-index: 10000;
}
.has-error span.scheme {
  color: #a94442;
}
.has-success span.scheme {
  color: #3c763d;
}

div.hide {
  display: none;
}

.dine {
  padding-left: 30px;
}

.dine input {
  border-left: 2px solid #28a745 !important;
  padding: 8px;
  //border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
}

.form-address label {
  margin: 1rem 0 0 0;
}
.w-100px {
  width: 100px;
}
.w-155px {
  width: 155px;
}

.ccforminput, #credit-card-number input, #credit-card-exp input, #credit-card-cvv input {
  border: 1px inset #ffbd14;
  background-color: #fff;
  color: black;
  font-size: 15px;
  font-family: monospace;
  padding: 5px;
  border-left: 1px inset #ffbd14 !important;
}

.CardNumberField-input-wrapper > .InputContainer > input {
  border: 1px inset #ffbd14;
  background-color: #fff;
  color: black;
  font-size: 15px;
  font-family: monospace;
  padding: 5px;
  border-left: 1px inset #ffbd14 !important;
}

.space-between-pmt-options {
  margin-bottom: 1.5rem;
}
