.point-placeholder {
  visibility: hidden;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: .5rem;
}
.gap-3 {
  gap: 1rem;
}
.w-30px {
  width: 30px;
}
.w-40px {
  width: 40px;
}
.w-80px {
  width: 80px;
}
.w-90px {
  width: 90px;
}
.w-100px {
  width: 100px;
}
.w-160px {
  width: 160px;
}
.w-180px {
  width: 180px;
}
.w-200px {
  width: 200px;
}
.w-260px {
  width: 260px;
}
.w-max {
  width: max-content;
}
.c-table-wrapper {
  border: 1px solid gray;
}
.c-table-row {
  border-bottom: 1px solid gray;
  padding: 0 0.5rem;
}
.c-table-header {
  font-weight: bold;
  border-bottom: 1px solid transparent;
}
.c-table-wrapper :first-child.c-table-row + .c-table-row {
  border-top: 1px solid gray;
}
.c-table-wrapper :last-child.c-table-row {
  border: none;
}

.blinking-text {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
