.point-placeholder {
  visibility: hidden;
}
.w-30px {
  width: 30px;
}
.w-40px {
  width: 40px;
}
.w-80px {
  width: 80px;
}
.w-90px {
  width: 90px;
}
.w-100px {
  width: 100px;
}
.w-160px {
  width: 160px;
}
.w-180px {
  width: 180px;
}
.w-200px {
  width: 200px;
}
.w-260px {
  width: 260px;
}
.w-max {
  width: max-content;
}
.c-table-wrapper {
  border: 1px solid gray;
}
.c-table-row {
  border-bottom: 1px solid gray;
  padding: 0 0.5rem;
}
.c-table-header {
  font-weight: bold;
  border-bottom: 1px solid transparent;
}
.c-table-wrapper :first-child.c-table-row + .c-table-row {
  border-top: 1px solid gray;
}
.c-table-wrapper :last-child.c-table-row {
  border: none;
}

.blinking-text {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  table.table-locations td:nth-of-type(1):before { content: "Serial No."; }
  table.table-locations td:nth-of-type(2):before { content: "Name"; }
  table.table-locations td:nth-of-type(3):before { content: "ID"; }
  table.table-locations td:nth-of-type(4):before { content: "Country"; }
  table.table-locations td:nth-of-type(5):before { content: "City"; }
  table.table-locations td:nth-of-type(6):before { content: "State"; }
  table.table-locations td:nth-of-type(7):before { content: "Postal Code"; }
  table.table-locations td:nth-of-type(8):before { content: ""; }
  table.table-locations td:nth-of-type(9):before { content: ""; }
  table.table-locations td:nth-of-type(10):before { content: ""; }

  /*
  Label the data
  */
  table.table-readers td:nth-of-type(1):before { content: "Serial No."; }
  table.table-readers td:nth-of-type(2):before { content: "Label"; }
  table.table-readers td:nth-of-type(3):before { content: "Device Serial"; }
  table.table-readers td:nth-of-type(4):before { content: "IP Address"; }
}

